.destination-bg {
  background-image: url("/src/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-position: center;
}

.destination {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 163px 112px 230px;
}

.heading {
  position: relative;
  display: flex;
  margin-bottom: 78px;
}

.heading span {
  position: absolute;
  left: -56px;
  color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
}

.planet-navbar {
  align-self: flex-end;
  display: flex;
  gap: 36px;
  margin-right: 163px;
}

.planet-navbar span {
  cursor: pointer;
  position: relative;
}

.planet-navbar span::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  height: 3px;
  width: 50%;
  background-color: #979797;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.4s ease-in;
}

.planet-navbar span:hover::after {
  opacity: 1;
  width: 100%;
}

.planet-navbar .active::after {
  opacity: 1;
  width: 100%;
  background-color: #fff;
}

@media (768px < width <= 1366px) {
  .destination {
    padding: 0 10% 5% 10%;
    justify-content: flex-start;
  }

  .heading {
    margin-bottom: 0;
  }
}
