.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-top: 40px;
}

.logo {
  background-color: white;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.logo svg {
  height: 100%;
  transform: rotate(0);
}

.logo svg:hover {
  transform: rotate(360deg);
  transition: all 0.3s;
}

.white-line {
  background-color: #979797;
  height: 1px;
  width: 50%;
  transform: translateX(60px);
  z-index: 1;
}

.nav {
  padding: 39px 165px 38px 123px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(155, 155, 155, 0.1);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.nav a {
  display: flex;
  gap: 10px;
  position: relative;
}

.nav a span {
  font-weight: 700;
}

.nav a::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #979797;
  width: 50%;
  opacity: 0;
}

.nav a:hover::after {
  transition: all 0.8s ease;
  width: 100%;
  opacity: 1;
}

.nav a.active::after {
  transition: all 0.8s ease;
  opacity: 1;
  width: 100%;
  background-color: white;
}

.hamburger {
  display: none;
}

.no-hamburger {
  display: none;
}

@media (width < 768px) {
  .header {
    width: 100vw;
    padding: 24px 24px 0 24px;
  }
  .white-line,
  .nav a::after {
    display: none;
  }

  .nav {
    position: absolute;
    right: 0;
    top: 0;
    height: 100svh;
    flex-direction: column;
    width: 68%;
    padding: 0;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 99;
    display: none;
  }

  .open-nav {
    display: flex;
  }

  .nav a {
    margin-left: 32px;
  }

  .nav a:first-child {
    margin-top: 118px;
  }

  .hamburger {
    display: flex;
  }
}

@media (768px <= width < 1440px) {
  .header {
    padding: 0 0 0 39px;
  }

  .nav {
    gap: 37px;
    padding: 40px 48px;
  }

  .nav a span {
    display: none;
  }

  .white-line {
    display: none;
  }
}
