.crew-bg {
  background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-position: center;
}

.crew {
  width: 100%;
}

@media (width < 768px) {
  .crew-bg {
    background-image: url("/src/assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
}
