:root {
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title1 {
  font-family: "Bellefair", serif;
  font-size: clamp(5rem, 0.8254rem + 17.8117vw, 9.375rem);
  color: #fff;
  font-weight: 400;
}

.title2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.title3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  color: #fff;
  font-weight: 400;
}

.title4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  color: #fff;
  font-weight: 400;
}

.title5 {
  font-family: "Barlow Condensed", serif;
  font-size: 28px;
  letter-spacing: 4.72px;
  color: var(--light-blue);
  font-weight: 400;
  text-transform: uppercase;
}

.sub-title1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.sub-title2 {
  font-family: "Barlow Condensed", serif;
  font-size: 14px;
  letter-spacing: 2.36px;
  color: var(--light-blue);
  text-transform: uppercase;
  font-weight: 400;
}

.nav-text {
  font-family: "Barlow Condensed", serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.body-text {
  font-family: "Barlow";
  font-size: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
  line-height: 32px;
  color: var(--light-blue);
  font-weight: 400;
}

.container {
  min-height: 100vh;
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
}
